<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ng-formula-maker</title>
  
  <link rel="stylesheet" href="lib/bootstrap-3.3.5/bootstrap.min.css">
  <link rel="stylesheet" href="dist/ng-formula-maker.css">

</head>
<body ng-app="app" ng-controller="appCtrl">
  
  <div class="container">
    <br />

    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Formula Maker
        </div>
        <div class="panel-body">
          <div ng-formula-maker em-search="search" em-formula="" em-value="res"></div>
        </div>
        <div class="panel-footer">
          <b>Result Value: </b> {{ res }}
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          Values to Result Search
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group form-group-sm">
              <label class="col-sm-1 control-label">description</label>
              <div class="col-sm-2">
                <input type="text" class="form-control input-sm" ng-model="description">
              </div>
              <label class="col-sm-1 control-label">value</label>
              <div class="col-sm-2">
                <input type="text" class="form-control" ng-model="value">
              </div>
              <button class="btn btn-success btn-sm" ng-click="formula_add()">+</button>
            </div>
          </div>

          <div class="form-horizontal" ng-repeat="item in results">
            <div class="form-group form-group-sm">
              <label class="col-sm-1 control-label">description</label>
              <div class="col-sm-2">
                <input type="text" class="form-control input-sm" ng-model="item.description">
              </div>
              <label class="col-sm-1 control-label">value</label>
              <div class="col-sm-2">
                <input type="text" class="form-control input-sm" ng-model="item.value">
              </div>
              <button class="btn btn-danger" ng-click="formula_delete($index)">-</button>
            </div>
          </div>
          
        </div>
      </div>

    </div>
  
  </div>
  
  <script type="text/javascript" src="lib/angularjs-1.4.4/angular.min.js"></script>
  <script type="text/javascript" src="dist/ng-formula-maker.js"></script>
  <script>


    var app = angular.module('app', ['ng-formula-maker']);

    app.controller('appCtrl', ['$scope', '$http', function($scope, $http){

      $scope.results = [{'description': 'January', 'value': 10000}, {'description': 'February', 'value': 11000}, {'description': 'March', 'value': 12000}, {'description': 'April', 'value': 13000}, {'description': 'May', 'value': 14000}, {'description': 'June', 'value': 15000}, {'description': 'July', 'value': 16000}, {'description': 'August', 'value': 17000}, {'description': 'September', 'value': 18000}, {'description': 'October', 'value': 19000}, {'description': 'November', 'value': 20000}, {'description': 'December', 'value': 21000}];

      $scope.formula_add = function(){
        if($scope.description && $scope.value){
          $scope.results.push({'description': $scope.description, 'value': $scope.value});
          $scope.description = "";
          $scope.value = "";
        }
      }

      $scope.formula_delete = function(n){
        $scope.results.splice(n, 1);
      }

      $scope._search = function(text, arr, prop){
        var newArr = [];
        for(var n in arr){
          if(arr[n][prop].toLowerCase().indexOf(text.toLowerCase()) > -1){
            newArr.push(arr[n]);
          }
        }
        console.log(newArr);
        return newArr;
      }

      $scope.search = function(search_text){
        return {'then': function(funcOK, funcERRO){
          if(search_text.length > 0){
            funcOK({'data': {'data': $scope._search(search_text, $scope.results, 'description')}});
          }else{
            funcERRO({'data': {'data': []}});
          }
        }};
      }
      
    }]);
  </script>
</body>
</html>